<footer class="footer">
    
    <div class="footer__button" (click)="show()"></div>
    
    <div class="footer__message" *ngIf="show_thank">
        <p> Muchísimas gracias por visitarme!</p>
    </div>

    <div class="footer__marquee">
        <div>
          <span>MADE WITH LOVE BY ROMINA </span>
          <span>MADE WITH LOVE BY ROMINA </span>
          <span>MADE WITH LOVE BY ROMINA </span>
          <span>MADE WITH LOVE BY ROMINA </span>
          <span>MADE WITH LOVE BY ROMINA </span>
        </div>
    </div>

</footer>