article{
    background-color: var(--green);
    width: 100%;
    height: 100%;

    border-radius: 10px;
    border: 1px solid var(--negro);

    display: flex;
    flex-flow: column nowrap;

    padding: 1em 1.2em;
    gap: 1em;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 1.5em;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: larger;
}

p{
    padding: 1em;
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: .5em;

    .red{
        background-color: var(--red);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 1px solid var(--negro);
    }

    .yellow{
        background-color: var(--yellow);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 1px solid var(--negro);
    }

    .green{
        background-color: var(--green);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 1px solid var(--negro);
    }

}

.texto{
    height:100%;
    background-color: var(--white_cream);
    border-radius: 10px;
    border: 1px solid var(--negro);
}

.imagen{
    width: 100%;
    height: 100%;
    background-image: url('/assets/romina.png');
    background-size: cover;
    border-radius: 10px;
    border: 1px solid var(--negro);
}
