@import '/src/app/mixins.scss';

article{
    background-color: var(--green);
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--negro);
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 1.2rem;
    gap: .5rem;
    position: relative;

}


header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 100%;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: larger;
    display: block;
}


.buttons{
    width: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: .5em;

    .red{
        background-color: var(--red);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 1px solid var(--negro);

    }

    .yellow{
        background-color: var(--yellow);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 1px solid var(--negro);

        &.hover{
            cursor: pointer;

            &:hover{
                background-color: var(--negro); 
            }
        }

    }

    .green{
        background-color: var(--green);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 1px solid var(--negro);
    }

}

