<article  [ngStyle]="{'background-color' : getRandomColor() }" >

    <header>
        <h1>{{info.titulo}}</h1>

        <div class="buttons">
            <span class="red"></span>
            <span class="yellow hover" (click)="open()"></span>
            <span class="green"></span>
        </div>
    </header>


    <app-main-text *ngIf="info.dato === 'texto'" [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}" [p]="info.descripcion"></app-main-text>

    <app-main-imagen  *ngIf=" info.dato === 'imagen' " [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}"></app-main-imagen>

    <app-main-logos-pop [info]="info.logos_info" *ngIf="info.dato === 'logos_pop' " [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}" ></app-main-logos-pop>

    <app-main-logos [info]="info"  *ngIf="info.dato === 'logos' " [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}" ></app-main-logos>

    <app-main-lista-pop [info]="info" *ngIf=" info.dato == 'lista_pop' " [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}" ></app-main-lista-pop>
    
   <app-main-lista [info]="info" *ngIf=" info.dato=== 'lista' " [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}" ></app-main-lista> 

   <app-main-lightbox [info]="info" *ngIf="info.dato=== 'lightbox' " [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}"></app-main-lightbox>
    
   <app-main-logos-grandes [info]="info"  *ngIf="info.dato=== 'logos_grandes' " [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}" ></app-main-logos-grandes>

   <app-main-logo-unico [info]="info" *ngIf="info.dato=== 'logo_unico' "   [ngStyle]="{ 'display' : open_close ? 'flex' : 'none'}"  ></app-main-logo-unico>

</article>