<article>

    <header>
        <h1>TITULO</h1>

        <div class="buttons">
            <span class="red"></span>
            <span class="yellow"></span>
            <span class="green"></span>
        </div>
    </header>

    <!-- si es solo texto -->
    <!-- <main class="texto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde officia dolorum nulla vitae dolorem, libero consequuntur corporis, eius eos fugiat non? Eveniet facilis commodi a similique! Expedita suscipit repudiandae tempora? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestiae unde perferendis. Vitae molestiae odio nemo modi reiciendis! Unde quos sunt repellat nemo architecto. Repellendus excepturi fuga et adipisci! Ad?</p>
    </main> -->

    <!-- si es solo texto -->
    <main class="imagen">
    </main>


</article>