
<section>

    <!-- <div class="section__cover" [ngStyle]="{'clip-path': clip() }"></div> -->

        <div class="title_contain">
        
            <div class="title__nav"> 
                <div class="dot_dark green"></div>
                <div class="dot_dark red "></div>
                <div class="dot_dark blue"></div>

            </div>
            
            <div class="title">

                <h1>HOLA,</h1>
            
                <h2 *ngIf="!fuente" (click)="cancel_writing()" class="title">Me llamo Romina y soy desarrolladora web junior{{decoration}}
                </h2>
            
                <h2 *ngIf="fuente" (click)="cancel_writing()" class="title">{{text_show}}{{decoration}}</h2>
            

            </div>


        </div> 




        <div class="info__contain">
            <div class="info__cuadro uno"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
            <div class="info__cuadro dos"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
            <div class="info__cuadro tres"> Lorem ipsum dolor sit amet consectetur adipisicing elit </div>
        
        </div>

        




</section>
