@mixin mv( $medida : 480px){
    @media screen and (max-width: $medida) {
        @content
    }
}

section{
    width: 100%;
    height: 100%;
}

.title__decoration{
    position: absolute;
    height: 2em;
    padding: 0 .5em 0 0;
    display: flex;
    flex-flow: row nowrap;
    right: .5em;
    top: 1em;
    gap: .3em;

    .title__dot{
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 1px var(--negro) solid;

        &.green{
            background-color: var(--green);
        }
        &.yellow{
            background-color: var(--yellow);
        }
        &.red{
            background-color: var(--red);   
        }

    }
}


.title{
    position: relative;

    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .title__text{
        width: 90%;
        
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;


        @include mv(768px){
            width: 85%;
        }


        h1{
            font-size: 600%;
            font-weight: bolder;
            width: 100%;
        }
    
        h2{
            height: 3em;
            font-size: 100%;
            width: 100%;
            cursor: pointer;
        }

    }



}

