@import '/src/app/mixins.scss';

article{
    position: absolute;
    top: 15rem;
    left: 0;
    z-index: 2;
    width: 40rem;
    border-radius: 10px;

    border: 1px solid var(--negro);
    
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 1.2rem;

    @include mv(){
        width: 90svw;
        top: -5rem;
        left: -1rem ;
    }
    
}

.up{
    top: -25rem;
    left: -40rem;
    
    @include mv(){
        width: 90svw;
        top: -25rem;
        left: -1rem ;
    }
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 1.5em;
    width: 100%;

    @include mv(){
        height: auto;

    }

    h1{
        @include mv(){
            font-size: 80%;
        }
    }
}


main{
    height: auto;
    background-color: var(--white_cream);
    border-radius: 10px;
    border: 1px solid var(--negro);
    padding: 1rem;
    margin: .5rem 0 0 0;

    @include mv(){
        height: 100%;
    }

}



.buttons{
    width: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: .5em;


    .red{
        background-color: var(--red);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 1px solid var(--negro);
        cursor: pointer;

        &:hover{
            background-color: var(--negro);
        }
    }

    .yellow{
        background-color: var(--yellow);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 1px solid var(--negro);


    }

    .green{
        background-color: var(--green);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 1px solid var(--negro);
    }

}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: larger;
    display: block;
}
