<div class="info__contain" [ngClass]="{ 'fade_in_animation' : mao}"  >
            
    <div class="info__cuadro uno"> 
        
        <div class="info__hover"></div>

        <div class="title__nav"> 
            <div class="dot_dark green"></div>
            <div class="dot_dark yellow "></div>
            <div class="dot_dark red"></div>
        </div>

        <p> Sobre mi</div>

    <div class="info__cuadro dos"> 
        <div class="info__hover"></div>

        <div class="title__nav"> 
            <div class="dot_dark green"></div>
            <div class="dot_dark yellow "></div>
            <div class="dot_dark red"></div>
        </div>
        
        <p> Proyectos </p>

    </div>
    
    <div class="info__cuadro tres"> 
        <div class="info__hover"></div>

        <div class="title__nav"> 
            <div class="dot_dark green"></div>
            <div class="dot_dark yellow "></div>
            <div class="dot_dark red"></div>
        </div>
        <p> Contacto </p>
    </div>        
</div>