@mixin mv( $medida : 785px){
    @media screen and (max-width: $medida) {
        @content
    }
}

.imagen{
    width: 100%;
    height: 35rem;
    background-image: url('/assets/romina.png');
    background-size: cover;
    border-radius: 10px;
    border: 1px solid var(--negro);

    @include mv{
        height: 15rem;
        background-position: 0 -30px;
        background-size:cover;
    }
}