@import '/src/app/mixins.scss';

.main{
    width: 100%;
    height: 60svh;
    border-radius: 10px;
    border: 1px solid var(--negro);
    position: relative;
    cursor: pointer;
    
    @include mv{
        height: 15rem;
        background-position: 0 -30px;
        background-size:cover;
    }

    &:hover{
        .main__image--pixelated{
            clip-path: circle(0% at 50% 50%);
        }
    }

}
.main__image--original{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.main__image--pixelated{
    z-index: 1;
    position: absolute;
    filter: grayscale(1);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    image-rendering: pixelated;
    clip-path: circle(100% at 50% 50%);
    transition: all 1s ease-in-out;
}
