<div class="contenedor">

    <h1>{{ movidoRow }}</h1>
    <div class="contenedor_header">
        <h2 class="contenedor_h2"> Titulo </h2>
        <ul class="contenedor_arrows">
            <li class="contenedor_arrow"> <button class="contenedor_btn" (click)="disminuirRow()"> < </button></li>
            <li class="contenedor_arrow"> <button class="contenedor_btn"  (click)="aumentarRow()"> > </button></li>
        </ul>
    </div>

    <div class="contenedor_slide">
        <div class="contenedor_row"
        [ngStyle]="{ 'transform'             : calcularTransform(),
                     'width'                 : calcularAncho(),
                     'grid-template-columns' : calcularGrid()
                    }">
                    <article class="contenedor_article">0</article>
                    <article class="contenedor_article">1</article>
                    <article class="contenedor_article">2</article>
                    <article class="contenedor_article">3</article>


        </div>
    </div>
</div>



<!--
Total           Visibles        Mueve_row   Ancho_row   Cuanto_mueve_row
4 Elementos     2 Elementos     2           2 * 100%    100% / 2 = 50%
6 Elementos     3 Elementos     2           2 * 100%    100% / 2 = 50%
6 Elementos     2 Elementos     3           3 * 100%    100% / 3 = 33.33%



-->

<!--
Total           Visibles        Mueve_row   Ancho_row   Cuanto_mueve_row
4 Elementos     2 Elementos     2           2 * 100%    100% / 2 = 50%
6 Elementos     3 Elementos     2           2 * 100%    100% / 2 = 50%
6 Elementos     2 Elementos     3           3 * 100%    100% / 3 = 33.33%



-->