@mixin mv( $medida : 480px){
    @media screen and (max-width: $medida) {
        @content
    }
}

.mouse{
    position: fixed;
    z-index: 1;
}
.home{
    width: 100vw;
    height: 100vh;
    background-color: #E0D7CF;
    overflow: hidden;
}


.home__container{
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    padding: 3em 0 0 0;
    transition: all 1s ease;    
}

.home__section{
    margin: auto;

    border-radius: 10px;
    width: 90vw;
    height: 90vh;

    
}

.home__section.active{
    opacity: 1;
}


// .noise{
//     width:150%;
//     height:150%;
//     position: fixed;
//     top:-25%;
//     left:-25%;
//     z-index: 1;
//     background-image: url('/assets/noise.png') ;
//     opacity: .3;
//     animation: tilt 1s steps(1) infinite;
// }




