
<button (click)="inicio()"> < </button>


<main>
    <div class="main_move" [ngStyle]="{'transform' : translate()}" >

        <div class="home">
            
            <app-about-me class="first"></app-about-me>

            <div class="second">
                <app-window-nav class="nav" [titulo]="'Sobre mi'" (click)="sobremi()" > 
                </app-window-nav>
                <app-window-nav class="nav" [titulo]="'Proyectos'" (click)="proyectos()"> 
                </app-window-nav>
                <app-window-nav class="nav" [titulo]="'Contactame'" (click)="contacto()"> 
                </app-window-nav>
            </div>
        
        </div>
    
        <div class="sobre_mi" >


            <app-window class="sobre_mi__first" [info]="info_sobre_mi[0]" >
            </app-window>

            <app-window class="sobre_mi__second" [info]="info_sobre_mi[1]">
            </app-window>

            <app-window class="sobre_mi__third" [info]="info_sobre_mi[2]">
            </app-window>

            <app-window class="sobre_mi__fourth" [info]="info_sobre_mi[3]">
            </app-window>

            <app-window class="sobre_mi__fifth" [info]="info_sobre_mi[4]">
            </app-window>

            <app-window class="sobre_mi__sixth" [info]="info_sobre_mi[5]">
            </app-window> 


        </div>
    
        <div class="proyectos">
            <app-window class="proyectos__first" [info]="info_proyectos[0]"></app-window>
            <app-window class="proyectos__second" [info]="info_proyectos[1]"></app-window>

        </div>
    
        <div class="home">
            
        </div>


    </div>
    
</main>

<!-- <main>

    <div class="home" [ngStyle]="{'transform' : translate() }">
        
        <section class="home__section inicio">

            <div class="section__title">
                <app-about-me></app-about-me>
            </div>

            <div class="section__nav">

                <div class="nav about_me" (click)="sobremi()"> 

                    <div class="nav__hover"></div>


                    <div class="title__decoration"> 
                        <div class="title__dot green"></div>
                        <div class="title__dot yellow"></div>
                        <div class="title__dot red"></div>
                    </div>


                        <p> Sobre mi </p>

                
                
                </div>

                <div class="nav proyectos" (click)="proyectos()"> 
    
                    <div class="nav__hover"></div>

                    <div class="title__decoration"> 
                        <div class="title__dot green"></div>
                        <div class="title__dot yellow"></div>
                        <div class="title__dot red"></div>
                    </div>
            
                    <p> Proyectos </p>
            
                </div>


                <div class="nav contacto" (click)="contacto()"> 
    
                    <div class="nav__hover"></div>

                    <div class="title__decoration"> 
                        <div class="title__dot green"></div>
                        <div class="title__dot yellow"></div>
                        <div class="title__dot red"></div>
                    </div>
            
                    <p> Contacto </p>
            
                </div>            
            </div>

        </section>
        
        <section class="home__section">
            <app-sobre-mi></app-sobre-mi>
        </section>

        <section class="home__section">
            <app-contact-me></app-contact-me>
        </section>

        <section class="home__section">
            <app-contact-me></app-contact-me>
        </section>

    </div>

</main> -->


